@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

body {
    font-family: 'Kanit', sans-serif;
    background-color: #cacaca;
}

.landing {
    display: flex;
    flex-direction: column;
}

.intro-video {
    position: fixed;
    vertical-align: top;
    top: 0; left: 0;
    width: 100%; height: 100%;
}

.button-div {
    position: relative;
    margin-top: 850px;
}

.shop {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: transform .5s, color .5s;
}

.shop:hover {
    transform: scale(1.3);
    color: #b3b3b3;
}