@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

body {
    font-family: 'Kanit', sans-serif;
}

.landing {
    position: relative;
    background-color: #c8c8c8;
    height: 100vh;
}

.intro-video {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.landing .button-div {
    position: absolute;
    bottom: 40px;
    left: 42%;
}

.shop {
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    transition: transform .5s, color .5s;
}

.shop:hover {
    transform: scale(1.3);
    color: #b3b3b3;
}