@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

.header-container {
    display: inline-block;
    background-color: #333333;
    width: 100%;
    height: 60px;
}

.nav-links-div {
    padding: 2px;
}

.brand, .nav-links {
    color: #ffffff;
    margin: 10px;
    transition: color .3s;
    float: left;
    font-size: 25px;
}

.login, .signup {
    float: right;
}

.brand {
    color: rgb(160, 59, 59);
}

.brand:hover {
    color: #ffffff;
}

.nav-links:hover {
    color: rgb(160, 59, 59);
}

@media screen and (max-width: 477px) {
    .brand, .nav-links {
        font-size: 18px;
    }
}

@media screen and (max-width: 380px) {
    .brand, .nav-links {
        font-size: 16px;
    }
}